// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// css for index.html.erb 

h1 {
	color: red;
	font-size: 100px;
}

h2 {
	height: 500px;
	width: 500px;
	margin-left: 200px;
}

// css for navbar 

.headline {
	font-family: Times Header;	
	font-size: 70px;
	text-align: center;
}

#navbar_button_style:hover {
    background:#0000FF;
} 

#navbar_button_style {
	background-color: #000080;
	color: white;
	margin-left: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle .icon-bar:hover {
    background:#0000FF;
}

.navbar-default .navbar-toggle {
	color: #000080;
}

.navbar-default .navbar-toggle:hover {
	background:#0000FF;
}

.navbar-default .navbar-toggle:focus {
	background-color: #0000FF;
}