<div class="container-fluid" >
   <div class="row" >
       
       <div class="col-md-12" id="navbar_headline_text">
           <div class="headline" style="font-family: Times Header"> Socorro Daily </div>
       </div>
      
    </div>
</div> 

<nav id="navbar" class="navbar navbar-default" style="background-color: #F0F8FF">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
     
      <a class="navbar-brand" >
        <img style="width: 80px; min-height: 80px; margin-top: -30px; margin-left: -15px" src="assets/zia.png" </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#" id="navbar_button_css"> News </a></li>
          <li><a href="#" id="navbar_button_css"> Community </a></li>
        <li id="dropdown btn-group">
          <a href="#" id="navbar_button_css" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Schools <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"> Parkview </a></li>
            <li><a href="#"> Zimmerly </a></li>
            <li><a href="#"> Torres </a></li>
              <li role="separator" class="divider"></li>
            <li><a href="#"> Sarracino </a></li>
              <li role="separator" class="divider"></li>
            <li><a href="#"> Socorro High </a></li>
              <li role="separator" class="divider"></li>
            <li><a href="#"> New Mexio Tech </a></li>
          </ul>
        </li>
        <li><a href="#" id="navbar_button_css"> Op-eds </a></li>
        <li class="dropdown btn-group">
          <a href="#" id="navbar_button_css" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> World News <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"> Republican </a></li>
              <li><a href="#"> Democrat </a></li>
              <li><a href="#"> Libertarian </a></li>
            </ul>
        <li><a href="#" id="navbar_button_css"> Jobs </a></li>
        <li><a href="#" style="margin-left: 150px" id="navbar_button_css"> Contact Us </a></li>
      
      

    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>